@use "variables" as *;
@use "mixin" as *;

.filter {
  text-transform: capitalize;
  width: 94%;
  margin-inline: auto;
  border-radius: 16px;
  box-shadow: 0px 1px 6px 0px $shadow;
  overflow: hidden;

  & > div {
    font-size: 17px;
    font-weight: 400;
    padding: 12px 26px;
    border: 2px solid transparent;
    cursor: pointer;

    &:focus {
      border-color: $clr-gray-300;
      outline: none;
    }
  }

  .location {
    border-bottom: 2px solid $clr-white-400;

    &:focus {
      border-top-left-radius: inherit;
      border-top-right-radius: inherit;
    }
  }

  .guests:focus {
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
  }

  .label {
    font-size: 11px;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 4px;
  }

  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 3rem;
    @include container();

    .location {
      border-bottom-color: transparent;

      &:focus {
        border-top-left-radius: inherit;
        border-top-right-radius: 0;
        border-bottom-left-radius: inherit;
      }
    }

    .guests {
      border-left: 2px solid $clr-white-400;
      border-right: 2px solid $clr-white-400;

      &:focus {
        border-radius: 0;
      }
    }
  }
}
