@use "variables" as *;
@use "mixin" as *;

.filter-group {
  display: flex;
  align-items: center;
  font-family: "Mulish", sans-serif;
  font-size: 14px;
  text-align: center;
  width: 297px;
  height: 55px;
  border-radius: 16px;
  background-color: $clr-white-700;
  box-shadow: 0px 1px 6px 0px $shadow;
  cursor: pointer;

  & > div {
    padding-inline: 14px;
  }

  .location {
    @include no-textoverflow();
  }

  .guests {
    display: grid;
    place-content: center;
    width: 80px;
    height: 100%;
    border-inline: 1px solid $clr-white-400;
    color: $clr-gray-300;

    span {
      @include no-textoverflow();
    }
  }

  .material-symbols-outlined {
    font-size: 22px;
    padding-inline: 19px;
    color: $clr-primary;
  }
}
