@use "variables" as *;
@use "mixin" as *;

@forward "filter";
@forward "locationOption";
@forward "guestOption";
@forward "count";
@forward "button";

.filter-slider {
  min-width: 375px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  font-family: "Mulish", sans-serif;
  height: 100%;
  max-height: 600px;
  color: $clr-gray-700;
  background-color: $clr-white-700;
  z-index: 48;
  overflow-y: auto;

  @media (min-width: 768px) {
    max-height: 390px;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 12px;

    .title {
      font-weight: 700;
    }

    .close {
      cursor: pointer;
    }

    @media (min-width: 768px) {
      font-size: 20px;
      margin-bottom: 1rem;
      @include container();

      .close {
        font-size: 28px;
      }
    }
  }

  .btn--primary {
    position: absolute;
    left: 50%;
    bottom: 24px;
    transform: translateX(-50%);

    @media (max-width: 768px) and (max-height: 510px) {
      position: static;
      transform: translateX(0);
      margin: 3rem auto 24px;
    }

    @media (min-width: 768px) {
      top: 5.45rem;
      left: calc(50% + min(31.5vw, 400px));
      bottom: auto;
    }
  }
}
