$clr-primary: hsl(0, 79%, 63%);

$clr-gray-700: hsl(0, 0%, 20%);
$clr-gray-600: hsl(0, 0%, 31%);
$clr-gray-400: hsl(0, 0%, 51%);
$clr-gray-300: hsl(0, 0%, 74%);

$clr-white-700: hsl(0, 0%, 100%);
$clr-white-400: hsl(0, 0%, 95%);

$bg-drop: hsla(0, 0%, 31%, 0.4);

$shadow: hsla(0, 0%, 0%, 0.1);
